/* styles.css */

body {

 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f9;
    color: #f5ebeb;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #093a0b;
    color: white;
}

header h1 {
    font-size: 1.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin: 5px 0 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
   
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bio {
    
    text-align: center;
}

.bio img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 20px 0;
    box-shadow: 0 4px 6px rgba(4, 13, 97, 0.1);
}

.bio p {
    color: darkblue;
    font-size: 0.1em;
    line-height: 1.6;
}


.contact {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #110b0b;
    border-radius: 8px;
}

.contact h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #073d09;
}

.contact p {
    font-size: 1em;
    
    color: #000;
    line-height: 1.5;
}
.contact p:hover {
    color: darkblue;
    text-decoration: underline;
    
}
.contact a {
    color: #074b09;
     ;
}

.contact a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .bio img {
        width: 150px;
    }
}

@media (min-width: 60px) {
    body {
        font-size: 16px;
    }

    .bio img {
        width: 150px;
    }
}